<tr>

<td>
  <%= team.name %>
</td>
<td>
  <%= team.event.users.count %>
</td>
<td>
  <%= @event.max_team_members - team.event.users.count %>
</td>
<td>
  <%= team.owner.first_name %> <%= team.owner.last_name %>
</td>
<td>
	Join Team | Edit Team | Leave Team
</td>

</tr>